{% extends "base.html" %}

{% block content %}

<script type="text/javascript">
	$(function(){

		var api_key = '1c8ddb8a328dfbbc7e45b9cf86c2fb1c';
		var urlKey = "?api_key=" + api_key;
		var postKey = { 'api_key': api_key };
		var url = '/api';
		postKey.csrfmiddlewaretoken = $('.csrf input').val();
		var usertemplate = $('#usertemplate').html()
		// var usertemplate = $('#usertemplate').html()



		/////////// get all our users ///////////////
		var users = $.ajax({
			'url': url + '/users/',
			'data': postKey,
			'type': 'GET',
		});
		var handleUsers = function (data) {
			data.users = data.objects;
			$('.users').html( Mustache.to_html( usertemplate, data ) )
			$('.beer-me-asshole').on('click', function(e) {
				e.preventDefault();
				var userUrl = $(this).attr('href');
				var data = postKey;

				data.time = Date.now();

				data.username = $(this).data('username');

					setCurrentUser = $.ajax({
						'url': url + '/current_user/',
						'data': postKey,
						'type': 'POST',
						success: function(data) {
							console.log('data', data)
						}
					});
			});

		}
		$.when( users ).then( handleUsers );

	});
</script>
{% verbatim myblock %}
	<script id="usertemplate" type="text/mustache">
		{{#users}}
			<tr>
				<td>
					<h2><a href="{{ url }}">{{ username }}</a></h2>
				</td>

				<td align="right">
					<a class="btn beer-me-asshole btn-alert" data-username="{{ username }}" href="{{ url }}">BEER ME ASSHOLE</a>
				</td>
			</tr>
		{{/users}}
	</script>
{% endverbatim myblock %}

<!-- <span class="csrf" style="display:none">{% csrf_token %}</span> -->

<h1>Beeeeer Meeee</h1>
<table class="users"></table>


{% endblock %}