{% extends "base.html" %}
{% block pagetitle %}
<h1>Beer Meh</h1>
{% endblock %}
{% block content %}
<style type="text/css">
body{
	background: whitesmoke;
	padding: 0;
}
/**, *:after, *:before {
	box-sizing: border-box;
}*/
.navbar {
	display: none;
}
.beer-me-asshole{
	background:#FA418B;
	border: 0;
	border-radius: 0;
	text-shadow: 0px 0px 0px transparent;
	height:100%;
	color:white;
	font-weight:bold;
	font-size:26px;
	position:relative;
	top: -15px;
	left: 15px;
	/*margin:-15px -15px 0 0;*/
	transition: all 200ms;
	padding: 15px;
	box-shadow:-1px 1px 0px black, 
				-2px 2px 0px black,
				-3px 3px 0px black,
				-4px 4px 0px black,
				-5px 5px 0px black,
				-6px 6px 0px black,
				-7px 7px 0px black,
				-8px 8px 0px black,
				-9px 9px 0px black,
				-10px 10px 0px black,
				-11px 11px 0px black,
				-12px 12px 0px black,
				-13px 13px 0px black,
				-14px 14px 0px black;
}
.beer-me-asshole:hover {
	position:relative;
	top: -10px;
	right: -10px;
	/*margin:-5px -5px 0 0;*/
	box-shadow:-1px 1px 0px black, 
				-2px 2px 0px black,
				-3px 3px 0px black,
				-4px 4px 0px black,
				-5px 5px 0px black,
				-6px 6px 0px black,
				-7px 7px 0px black,
				-8px 8px 0px black,
				-9px 9px 0px black,
				-10px 10px 0px black;
}
h1 {
	width:100%;
	text-align: center;
	text-transform: capitalize;
	font-size:130px;
	font-weight: 700;
	text-shadow:-1px 1px 0px #FA418B, 
				-2px 2px 0px #FA418B,
				-3px 3px 0px #FA418B,
				-4px 4px 0px #FA418B,
				-5px 5px 0px #FA418B,
				-6px 6px 0px #FA418B,
				-7px 7px 0px #FA418B,
				-8px 8px 0px #FA418B,
				-9px 9px 0px #FA418B,
				-10px 10px 0px #FA418B,
				-11px 11px 0px #FA418B,
				-12px 12px 0px #FA418B,
				-13px 13px 0px #FA418B,
				-14px 14px 0px #FA418B;
	padding:0 0 40px 0;

}
div#content {
		border-radius: 0px;
		box-shadow:-1px 1px 0px #D4D4D4,
				-2px 2px 0px #D4D4D4,
				-3px 3px 0px #D4D4D4,
				-4px 4px 0px #D4D4D4,
				-5px 5px 0px #D4D4D4,
				-6px 6px 0px #D4D4D4,
				-7px 7px 0px #D4D4D4,
				-8px 8px 0px #D4D4D4,
				-9px 9px 0px #D4D4D4,
				-10px 10px 0px #D4D4D4,
				-11px 11px 0px #D4D4D4,
				-12px 12px 0px #D4D4D4,
				-13px 13px 0px #D4D4D4,
				-14px 14px 0px #D4D4D4,
				-15px 14px 0px #D4D4D4,
				-16px 16px 0px #D4D4D4,
				-17px 17px 0px #D4D4D4,
				-18px 18px 0px #D4D4D4,
				-19px 19px 0px #D4D4D4,
				-20px 20px 0px #D4D4D4,
				-21px 21px 0px #D4D4D4,
				-22px 22px 0px #D4D4D4,
				-23px 23px 0px #D4D4D4,
				-24px 24px 0px #D4D4D4,
				-25px 25px 0px #D4D4D4;
}
h3 a{
	color: #FA418B;
	text-transform: capitalize;
	font-size:26px;
}
table {
	margin-left: 0 auto;
	width:100%;
}
table tr:nth-child(odd) td{
	background-color: whitesmoke;

}
table tr td{
		padding:30px;
}
</style>
<script type="text/javascript">
	$(function(){

		var api_key = '1c8ddb8a328dfbbc7e45b9cf86c2fb1c';
		var urlKey = "?api_key=" + api_key;
		var postKey = { 'api_key': api_key };
		var url = '/api';
		var csrfmiddlewaretoken = $('.csrf input').val();
		var usertemplate = $('#usertemplate').html()
		// var usertemplate = $('#usertemplate').html()



		/////////// get all our users ///////////////
		var users = $.ajax({
			'url': url + '/users/',
			'data': postKey,
			'type': 'GET',
		});
		var handleUsers = function (data) {
			data.users = data.objects;
			drinksArray = [];
			$.each( data.users, function(i){
				console.log(i, this.username)
				var t = this;
				drinksArray[i] = $.ajax({
						'url': url + '/users/' + t.username + '/drinks',
						// 'data': data,
						'headers': {'X-CSRFToken': csrfmiddlewaretoken},
						'type': 'GET'
					});
			});

			var moarUserData = function() {
				
				$.each( arguments, function (i) {
					data.users[i].drinks = this[0].objects;
					data.users[i].volume_ml = 0;
					$.each( this[0].objects, function() {
						console.log(this.volume_ml);
						data.users[i].volume_ml += parseFloat(this.volume_ml.toFixed(1));
					});
				});
				console.log(data)
				$('.users').html( Mustache.to_html( usertemplate, data ) )
			}

			$.when.apply($, drinksArray ).then( moarUserData );

			
			$('.beer-me-asshole').on('click', function(e) {
				e.preventDefault();
				var userUrl = $(this).attr('href');
				var data = postKey;

				// data.expires_time = Date.now() + 5000000;

				data.username = $(this).data('username');

					setCurrentUser = $.ajax({
						'url': url + '/current_user/',
						'data': data,
						'headers': {'X-CSRFToken': csrfmiddlewaretoken},
						'type': 'POST',
						success: function(data) {
							console.log('data', data)
						}
					});
			});

		}
		
		
		$.when( users ).then( handleUsers );
		
	});
</script>
{% verbatim myblock %}
	<script id="usertemplate" type="text/mustache">
		<thead>
			<th align="left"><h2>Drinkers</h2></th>
			<th><h2>Drinks</h2></th>
			<th><h2>Volume</h2></th>
			<th></th>
		</thead>
		{{#users}}
			<tr>
				<td align="left">
					<h3><a href="{{ url }}">{{ username }}</a></h3>
				</td>
				<td align="center"><h3>{{ drinks.length }}</h3></td>
				<td align="center"><h3>~{{ volume_ml }}mL</h3></td>
				<td align="right">
					<a class="btn beer-me-asshole btn-alert" data-username="{{ username }}" href="{{ url }}">Beer Meh!</a>
				</td>
			</tr>
		{{/users}}
	</script>
{% endverbatim myblock %}

<span class="csrf" style="display:none">{% csrf_token %}</span>

<table class="users" align="center"></table>


{% endblock %}
